<IFModule mod_rewrite.c>

RewriteEngine On
#RewriteBase /

#Redirect ke HTTPS (Opsional)

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond ^(.*)$ index.php/$1 [L]

</IFModule>